@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body{
    margin: 0px;
}
.header{
    background-color: rgb(163, 237, 134);
    height: 50px;
    width: 100%;
    position: fixed;
}
nav{
    max-width: 960px;
    margin: 0px auto;
    padding: 20px 0px;
}
a{
    color: black;
   text-decoration: none;
}
.nav-link{
    margin-right: 20px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}
.main{
    max-width: 960px;
    margin: 0px auto;
    padding: 30px 20px;
    min-height: 100dvh;
}
@media(max-width: 768px){
    header{
        max-width: 100dvh;
    }
    nav{
        max-width: 600px;
        padding: 5px;
        padding-top: 10px;
    }

    .nav-link{
        font-size: 18px;
        padding-left: 7px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;

    }
}
.info{
    margin-top:20px;
    padding: 25px 40px;
    box-shadow: 2px 7px 29px 0px; color: rgb(235, 116, 101);
    border-radius: 10px;
}
.poza-eu{
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
}
.centered{
    text-align: center;
}
.albastru{
    color: blue;
}
.celula-abilitati{
    width: 300px;
    font-size: 18px;
    padding-right: 20px;
    vertical-align: top;
    font-family: Roboto;
}
.celula-text{
    vertical-align: top;
}
.text-despre{
    margin-top: 0px;
    font-size: 18px;
    font-family: Roboto;
    text-align: left;
}
.galerie{
    width: 25%;
    margin-top: 10px;
}
    
.img-galerie {
    height: 170px;
    width: 170px;
    object-fit: cover;
}
.item{
    border-bottom: 2px rgb(0, 0, 255);
    padding: 4px;
    font-family: Roboto;
}
.item span{
    font-size: 15px;
    padding-left: 10px;
    
}
